html{
    cursor: none;
}
body{
    min-height: 100vh;
    font-family: "Murecho";
}

.cursor {
    position: fixed;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%;
    mix-blend-mode: difference; 
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    z-index: 10000;
    height: 30px;
    width: 30px;
    transition: all 100ms ease;
  }
audio{
    cursor: none;
}
button{
    cursor: none;
}
.filter-bar > button.active{
    background-color: aqua;
}

.service-box.not-active{
    display: none;
}

